[user]
	name = Edward Raigosa
	email = wenlock@hp.com
[core]
	editor = vi
[push]
	default = matching
[branch "master"]
remote = origin
merge = master

[remote "origin"]
url = git@github.com:wenlock/myhome
fetch = master

