# Ignore everything
*

# docker tools setup
!.github/workflows/docker-image.yml
!.devcontainer
!.devcontainer/**
!.gitignore
!opt/
!opt/**
opt/.DS_Store
opt/rbenv
opt/bin/docker-machine.5
opt/XMind_Linux_64bit
opt/XMind_Linux_64bit/**
opt/bin/docker-machine
opt/bin/jre1.8.0_60
opt/bin/ApacheDirectoryStudio/
opt/bin/ApacheDirectoryStudio/**
opt/bin/snowkube
!.config/
!.config/terminator/
!.config/terminator/config
*.swp
.custom_alias
opt/bin/.byebug_history
