# Ignore everything
*

# docker tools setup
!requirements.txt
!.pam_environment
!.plan
!.gitignore
!.profile
!.vimrc
!.vimrc_white
!.vimrc_green
!git.properties
!.bashrc
!.gitconfig
!.bash_logout
!opt/
!opt/**
opt/XMind_Linux_64bit
opt/XMind_Linux_64bit/**
opt/bin/docker-machine
!.config/
!.config/terminator/
!.config/terminator/config
!.zshrc
!.gitrepos
!.repos.env
*.swp
.custom_alias
