atom-beautify
atom-copy-on-select
atom-lint
color-picker
file-icons
git-history
git-log
git-plus
git-tab-status
language-docker
language-puppet
linter
linter-puppet-lint
linter-rubocop
linter-shellcheck
merge-conflicts
minimap
minimap-git-diff
open-last-project
project-manager
project-switcher
react
theme-toggler
travis-ci-status
vim-mode
git-review
