atom-beautify
atom-copy-on-select
color-picker
file-icons
git-history
git-log
git-plus
language-docker
language-puppet
language-chef
linter
linter-puppet-lint
linter-rubocop
linter-shellcheck
linter-golinter
merge-conflicts
minimap
minimap-git-diff
project-manager
project-switcher
react
theme-toggler
travis-ci-status
vim-mode
go-plus
go-runtime
script-runner
